div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #141d2f;
  div {
    gap: 29px;
    font-size: 23px;
  }

  .h1 {
    margin-left: 100px;
    width: 150px;
    font-size: 50px;
  }
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.allContentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10vh;
  position: fixed;
  z-index: 1000;
}

a:hover {
  color: #00bee8;
}

.content {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  z-index: 100;
  border-bottom: 2px solid #00bee8;
}

.desktopMenu {
  margin-right: 100px;
  img {
    height: 40px;
  }
}

.language {
  img {
    max-width: 70px;
    max-height: 50px;
  }
  width: 70px;
  max-height: 50px;
}

.d-none {
  display: none !important;
}

.navscreen {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #141d2f, $alpha: 0.8) !important;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}
.line {
  fill: none;
  stroke: #00bee8;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media (max-width: 700px) {
  div {
    div {
      margin-right: 25px;
    }
  }

  .h1 {
    margin-left: 25px !important;
  }
}

@media (max-width: 800px) {
  .desktopMenu {
    display: none;
  }

  .menu {
    display: flex;
    margin-right: 25px;
  }
}

@media (max-width: 900px) {
}
