<div class="shadow">
  <img src="./assets/img/shadows/shadow1.png" />
</div>

<div class="allContentContainer">
  <div class="mainContent">
    <div id="messageSend" class="messageSend d-none">
      <p>message was sent successfully</p>
    </div>
    <div id="contact" class="header">
      <div class="spacer"></div>
      @if(this.language === 'english'){
      <h1>Contact</h1>
      } @if(this.language === 'german'){
      <h1>Kontakt</h1>
      }
    </div>

    <div class="contact">
      <div class="contactTest">
        @if(this.language === 'english'){
        <h2>Got a problem to solve?</h2>
        <p>
          Contact me through this form. I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </p>
        <div>
          <p>Need a Frontend developer?</p>
          <h3>Contact me!</h3>
        </div>
        } @if(this.language === 'german'){
        <h2>Haben Sie ein Problem zu lösen?</h2>
        <p>
          Kontaktieren Sie mich über dieses Formular. Ich interessiere mich
          dafür, von Ihnen zu hören, Ihre Ideen kennenzulernen und durch meine
          Arbeit zu Ihren Projekten beizutragen.
        </p>
        <div>
          <p>Brauchen Sie einen Frontend-Entwickler?</p>
          <h3>Kontaktieren Sie mich!</h3>
        </div>
        }
      </div>

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
          <div
            class="nameContainer"
            [class.redBorder]="(!name.valid && name.touched) || sendFailed"
            [class.greenBorder]="name.valid"
          >
            <input
              #name="ngModel"
              [(ngModel)]="contactData.name"
              class="name"
              required=""
              minlength="3"
              placeholder=""
              [placeholder]="
                this.language === 'english'
                  ? 'Your name'
                  : this.language === 'german'
                  ? 'Ihr Name'
                  : ''
              "
              formcontrolname="nameForm"
              type="text"
              name="name"
            />
            @if(!name.valid && name.touched || sendFailed && !name.valid){
            <img src="./assets/img/objects/input-red.png" />
            } @if(name.valid){
            <img src="./assets/img/objects/icon-successfull.png" />
            }
          </div>
          @if(!name.valid && name.touched || sendFailed && !name.valid){
          <div class="required">
            @if(this.language === 'english'){Please enter a valid name}
            @if(this.language === 'german'){Bitte geben Sie einen gültigen Namen
            ein. }
          </div>
          }
        </div>
        <!---->
        <div>
          <div
            class="emailContainer"
            [class.redBorder]="
              (!email.valid && email.touched) || (sendFailed && !email.valid)
            "
            [class.greenBorder]="email.valid"
          >
            <input
              #email="ngModel"
              [(ngModel)]="contactData.email"
              class="email"
              [placeholder]="
                this.language === 'english'
                  ? 'Your email'
                  : this.language === 'german'
                  ? 'Ihre E-Mail'
                  : ''
              "
              formcontrolname="emailForm"
              required=""
              type="email"
              name="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
            @if(!email.valid && email.touched || sendFailed && !email.valid){
            <img src="./assets/img/objects/input-red.png" />
            } @if(email.valid){
            <img src="./assets/img/objects/icon-successfull.png" />
            }
          </div>
          @if(!email.valid && email.touched || sendFailed && !email.valid){
          <div class="required">
            @if(this.language === 'english'){Please enter a valid email address}
            @if(this.language === 'german'){Bitte geben Sie eine gültige
            E-Mail-Adresse ein. }
          </div>
          }
        </div>

        <div>
          <div class="messageContainer">
            <textarea
              [class.redBorder]="
                (!message.valid && message.touched) ||
                (sendFailed && !message.valid)
              "
              [class.greenBorder]="message.valid"
              #message="ngModel"
              [(ngModel)]="contactData.message"
              floatLabel="never"
              class="message"
              required=""
              minlength="5"
              [placeholder]="
                this.language === 'english'
                  ? 'Your message'
                  : this.language === 'german'
                  ? 'Ihre Nachricht'
                  : ''
              "
              name="message"
            ></textarea>

            @if(!message.valid && message.touched || sendFailed &&
            !message.valid){
            <img src="./assets/img/objects/input-red.png" />
            } @if(message.valid){
            <img src="./assets/img/objects/icon-successfull.png" />
            }
          </div>
          @if(!message.valid && message.touched || sendFailed &&
          !message.valid){
          <div class="required">
            @if(this.language === 'english'){message is required}
            @if(this.language === 'german'){Die Nachricht ist erforderlich.}
          </div>
          }
        </div>
        <div>
          <div class="checkbox">
            <input
              class="checkboxInput hover"
              type="checkbox"
              [(ngModel)]="checkboxChecked"
              name="checkbox"
              required=""
            />
            <div class="privacy" for="checkbox">
              <p>
                @if(this.language === 'english'){ I've read the
                <a href="privacy-policy">privacy policy</a>
                and agree to the processing of my data as outlined. }
                @if(this.language === 'german'){ Ich stimme der Verarbeitung
                meiner Daten gemäß der
                <a href="privacy-policy">Datenschutzrichtlinie</a> zu. }
              </p>
            </div>
          </div>
          @if(sendFailed && !checkboxChecked){
          <div class="required">
            @if(this.language === 'english'){Please accept the privacy policy.}
            @if(this.language === 'german'){Bitte akzeptieren Sie die
            Datenschutzrichtlinie. }
          </div>
          }
        </div>
        <button
          class="submit"
          type="submit"
          [class.disabled]="
            !checkboxChecked || !message.valid || !email.valid || !name.valid
          "
        >
          @if(this.language === 'english'){ Send message :&#41;}
          @if(this.language === 'german'){ Nachricht Senden :&#41;}
        </button>
      </form>
    </div>
  </div>
</div>
