* {
  color: white;
  ::placeholder {
    color: white;
  }
}

button {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #00bee8;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.allContentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}


button:disabled {
  background-color: gray;
}

textarea {
  resize: none;
}

h1 {
  margin-left: 50px;
  font-size: 90px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  gap: 100px;
}

.spacer {
  height: 4px;
  width: 50px;
  background-color: #4b47ff;
}

.header {
  display: flex;
  align-items: center;
}

input {
  outline: none;
  background-color: unset;
  border: none !important;
  padding: 0;
  // border: 1px solid #4b47ff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  div {
    width: 617px;
  }
}

.name {
  width: 100%;
  height: 50px;
  background-color: #141d2f;
  border-radius: 10px;
}

.nameContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #141d2f;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.nameContainer:hover {
  border: solid 1px #00bee8;
}

.email {
  width: 100%;
  height: 50px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: solid 1px #4b47ff;
  background: #141d2f;
}

.emailContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #141d2f;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.emailContainer:hover {
  border: solid 1px #00bee8;
}

.message {
  width: 100%;
  height: 200px;
  gap: 10px;
  padding: 32px;
  border-radius: 10px;
  border: solid 1px #4b47ff;
  background: #141d2f;
}

.messageContainer {
  height: 217px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  border-radius: 10px;
  img {
    position: absolute;
    right: 16px;
    top: 20px;
  }
}

.redBorder {
  border: 1px solid red !important;
}

.greenBorder {
  border: 1px solid green !important;
}

.message:hover {
  border: solid 1px #00bee8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.required {
  color: red;
  font-size: 14px;
}

.checkbox {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  .privacy {
    gap: 4px;
    a {
      color: #4b47ff;
    }
  }
  input {
    margin-right: 6px;
  }
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  appearance: none;
  background-color: #141d2f;
  margin: 0;
  width: 24px;
  height: 24px;
  outline: 2px solid #00bee8;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  padding: 2px;
}

input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  padding: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]::before {
  background-color: #00bee8;
  transform-origin: bottom left;
  clip-path: polygon(10% 40%, 0 60%, 50% 90%, 100% 12%, 80% 0%, 40% 60%);
  height: 15px;
  width: 15px;
}

.form-control + .form-control {
  margin-top: 1em;
}

.disabled {
  background-color: grey;
}

.messageSend {
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 29, 47, 0.8) !important;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    background-color: #3f890a;
    width: 500px;
    font-size: 50px;
    padding: 16px;
    border-radius: 20px;
  }
}

.d-none {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  max-width: 1920px;
}
form {
  width: 50%;
  div {
    width: 100%;
    font-size: 50px;
  }
  ::placeholder {
    font-size: 50px;
  }
  input {
    font-size: 50px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

.nameContainer {
  height: 200px;
}
.emailContainer {
  height: 200px;
}
.messageContainer {
  height: 600px;
  textarea {
    height: 600px;
    font-size: 50px;
  }
}
.checkbox {
  input {
    width: 100px;
    height: 100px;
  }
}
input[type="checkbox"]::before {
  background-color: #00bee8;
  transform-origin: bottom left;
  clip-path: polygon(10% 40%, 0 60%, 50% 90%, 100% 12%, 80% 0%, 40% 60%);
  height: 80px;
  width: 80px;
}

.contact {
  p {
    font-size: 35px;
  }
  h3 {
    font-size: 50px;
  }
  h2 {
    font-size: 55px;
  }
}
.contactTest {
  width: 50%;
}
button {
  font-size: 60px;
  padding: 30px 60px;
}
