<div class="header">
  <div class="spacer"></div>
  <h1>Contact</h1>
</div>

<div class="contact">
  <div>
    <h2>Got a problem to solve?</h2>
    <p>
      Contact me through this form, I am interested in hearing from you, knowing
      your ideas and contributing to your projects with my work.
    </p>
    <div>
      <p>Need a Frontend developer?</p>
      <h3>Contact me!</h3>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div>
      <div
        class="nameContainer"
        [class.redBorder]="(!name.valid && name.touched) || sendFailed"
        [class.greenBorder]="name.valid"
      >
        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          class="name"
          required=""
          minlength="3"
          placeholder="Your name"
          formcontrolname="nameForm"
          type="text"
          name="name"
        />
        @if(!name.valid && name.touched || sendFailed && !name.valid){
        <img src="./assets/img/objects/input-red.png" />
        } @if(name.valid){
        <img src="./assets/img/objects/icon-successfull.png" />
        }
      </div>
      @if(!name.valid && name.touched || sendFailed && !name.valid){
      <div class="required">Please enter a valid name</div>
      }
    </div>
    <!---->
    <div>
      <div
        class="emailContainer"
        [class.redBorder]="
          (!email.valid && email.touched) || (sendFailed && !email.valid)
        "
        [class.greenBorder]="email.valid"
      >
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          class="email"
          placeholder="Your email"
          formcontrolname="emailForm"
          required=""
          type="email"
          name="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        />
        @if(!email.valid && email.touched || sendFailed && !email.valid){
        <img src="./assets/img/objects/input-red.png" />
        } @if(email.valid){
        <img src="./assets/img/objects/icon-successfull.png" />
        }
      </div>
      @if(!email.valid && email.touched || sendFailed && !email.valid){
      <div class="required">Please enter a valid email address</div>
      }
    </div>

    <div>
      <div class="messageContainer">
        <textarea
          [class.redBorder]="
            (!message.valid && message.touched) ||
            (sendFailed && !message.valid)
          "
          [class.greenBorder]="message.valid"
          #message="ngModel"
          [(ngModel)]="contactData.message"
          floatLabel="never"
          class="message"
          required=""
          minlength="5"
          placeholder="Your message"
          name="message"
        ></textarea>

        @if(!message.valid && message.touched || sendFailed && !message.valid){
        <img src="./assets/img/objects/input-red.png" />
        } @if(message.valid){
        <img src="./assets/img/objects/icon-successfull.png" />
        }
      </div>
      @if(!message.valid && message.touched || sendFailed && !message.valid){
      <div class="required">message is required</div>
      }
    </div>
    <div>
      <div class="checkbox">
        <input
          class="checkboxInput"
          type="checkbox"
          [(ngModel)]="checkboxChecked"
          name="checkbox"
          required=""
        />
        <div class="privacy" for="checkbox">
          <p>I've read the</p>
          <a href="privacy-policy">privacy policy</a>
          <p>and agree to the processing of my data as outlined.</p>
        </div>
      </div>
      @if(sendFailed && !checkboxChecked){
      <div class="required">Please accept the privacy policy.</div>
      }
    </div>
    <button
      type="submit"
      [class.disabled]="
        !checkboxChecked || !message.valid || !email.valid || !name.valid
      "
    >
      Send message :&#41;
    </button>
  </form>
</div>
