.project {
  gap: 10%;
  img {
    height: 360px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 25px;
  }
}

.testButton {
  border-radius: 20px;
  font-size: 30px;
  padding: 15px 30px;
}

.gitButton {
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 30px;
}

.title {
  h2 {
    font-size: 60px;
  }
}

.titleDescription {
  font-size: 30px;
  margin-right: 100px;
  text-align: center;
  p {
    width: 900px;
  }
}
.leftSpacer {
  width: 100px;
}
.rightSpacer {
  width: 400px;
}

@media (max-width: 1920px) {
  .allContentContainer {
    display: block;
  }
}

@media (max-width: 1400px) {
  .project {
    gap: 10%;
    img {
      height: 300px;
    }
    h2 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
    }
  }

  .testButton {
    border-radius: 20px;
    font-size: 20px;
    padding: 15px 30px;
  }

  .gitButton {
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 20px;
  }

  .projectsButtons {
    display: flex;
    gap: 40px;
  }

  .title {
    h2 {
      font-size: 60px;
    }
  }
  .titleDescription {
    font-size: 25px;
    margin-right: 100px;
    text-align: center;
    p {
      width: 700px;
    }
  }
  .leftSpacer {
    width: 100px;
  }
  .rightSpacer {
    width: 300px;
  }
}

@media (max-width: 1250px) {
}

@media (max-width: 1080px) {
  .project {
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    img {
      height: 600px;
    }
  }

  .Swiched {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .project {
    img {
      height: 500px;
    }
  }

  .title {
    h2 {
      font-size: 60px;
    }
  }
  .titleDescription {
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    p {
      width: 650px;
    }
  }
  .leftSpacer {
    width: 100px;
  }
  .rightSpacer {
    width: 200px;
  }
}

@media (max-width: 650px) {
  .project {
    img {
      height: 250px;
    }
  }
  .testButton {
    font-size: 15px;
  }

  .gitButton {
    font-size: 15px;
  }

  .title {
    h2 {
      font-size: 40px;
    }
  }
  .titleDescription {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    p {
      width: auto;
    }
  }
  .leftSpacer {
    display: none;
  }

  .rightSpacer {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .project {
    img {
      height: 200px;
    }
    p {
      font-size: 15px;
    }
    h2 {
      font-size: 25px;
      margin: 0;
    }
  }
  .projectsButtons {
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .project {
    img {
      height: 160px;
    }
  }
  .rightSpacer {
    width: 50px;
  }
}
