<div class="titleContainer">
  <div class="title">
    <div class="leftSpacer"></div>
    <div class="text">
      <h2>Portfolio</h2>
      <p>
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </p>
    </div>
    <div class="rightSpacer"></div>
  </div>
</div>

<div>
  <div class="project" data-aos="zoom-in">
    <img src="./../../assets/img/join.png" />

    <div class="description">
      <h2>Join</h2>
      <p class="languages">Angular | Typescript | HTML | CSS | Firebase</p>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </p>
      <div class="projectsButtons">
        <button class="testButton">Live test</button>
        <button class="gitButton">Github</button>
      </div>
    </div>
  </div>

  <div class="project Swiched" data-aos="zoom-in">
    <div class="description">
      <h2>Join</h2>
      <p class="languages">Angular | Typescript | HTML | CSS | Firebase</p>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </p>
      <div class="projectsButtons">
        <button class="testButton">Live test</button>
        <button class="gitButton">Github</button>
      </div>
    </div>
    <img src="./../../assets/img/join.png" />
  </div>

  <div class="project" data-aos="zoom-in">
    <img src="./../../assets/img/join.png" />

    <div class="description">
      <h2>Join</h2>
      <p class="languages">Angular | Typescript | HTML | CSS | Firebase</p>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </p>
      <div class="projectsButtons">
        <button class="testButton">Live test</button>
        <button class="gitButton">Github</button>
      </div>
    </div>
  </div>

  <div class="project Swiched" data-aos="zoom-in">
    <div class="description">
      <h2>Join</h2>
      <p class="languages">Angular | Typescript | HTML | CSS | Firebase</p>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </p>
      <div class="projectsButtons">
        <button class="testButton">Live test</button>
        <button class="gitButton">Github</button>
      </div>
    </div>
    <img src="./../../assets/img/join.png" />
  </div>
</div>
