div {
  color: white;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    position: relative;
    max-width: 100%;
    width: 636px;
    height: 748.725px;
    opacity: 0.6;
    top: +200px;
    z-index: 1;
    left: -100px;
  }
}

#portfolio {
  position: relative;
  z-index: 2;
}

.content {
  padding-top: 10vh;
  max-width: 1920px;
}

.allContentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectlist {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: 4;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}

.leftSpacer {
  width: 300px;
  height: 4px;
  background-color: #4b47ff;
}

.rightSpacer {
  width: 700px;
  height: 4px;
  background-color: #4b47ff;
}

.title {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.titleDescription {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 100px;
  text-align: center;
  p {
    font-size: 16px;
    width: 2000px;
  }
}

.text {
  display: flex;
  align-items: end;
  flex-direction: column;
  p {
    margin-left: 100px;
  }
}

.project {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  gap: 20%;
  img {
    height: 50vh;
  }
  h2 {
    color: #4b47ff;
    font-size: 32px;
  }
}

.projectsButtons {
  display: flex;
  gap: 86px;
}

.testButton {
  color: white;
  padding: 15px 30px;
  gap: 10px;
  border-radius: 10px;
  background: #4b47ff;
  border: none;
  text-decoration: none;
}

.gitButton {
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #00bee8;
  gap: 10px;
  background-color: rgba(1, 1, 1, 0);
  text-decoration: none;
}

.languages {
  color: #00bee8;
  font-size: 23px;
}

.projectsButtons {
  a:hover {
    background-color: #00bee8;
    cursor: pointer;
  }
}

.title {
  h2 {
    font-size: 60px;
  }
}

.project {
  margin-top: 20px;
  img {
    height: 900px;
  }
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 16px;
  }
}

.testButton {
  border-radius: 20px;
  font-size: 60px;
  padding: 30px 60px;
}

.gitButton {
  color: white;
  padding: 30px 60px;
  border-radius: 20px;
  font-size: 60px;
}
