div {
  color: white;
}

h2 {
  font-size: 90px;
}

.leftSpacer {
  width: 100px;
  height: 4px;
  background-color: #4b47ff;
}

.rightSpacer {
  width: 500px;
  height: 4px;
  background-color: #4b47ff;
}

.title {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  p {
    font-size: 18px;
    position: absolute;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text {
  display: flex;
  justify-content: center;
  align-items: end;
  p {
    margin-left: 100px;
  }
}

.project {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  height: 400px;

  img {
    width: 50%;
  }
  h2 {
    color: #4b47ff;
    font-size: 32px;
  }
}

.description {
  width: 620px;
}

.projectsButtons {
  display: flex;
  gap: 86px;
}

.testButton {
  color: white;
  padding: 15px 30px;
  gap: 10px;
  border-radius: 10px;
  background: #4b47ff;
  border: none;
}

.gitButton {
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #00bee8;
  gap: 10px;
  background-color: #141d2f;
}

.languages {
  color: #00bee8;
  font-size: 23px;
}

.projectsButtons {
  button:hover {
    background-color: #00bee8;
    cursor: pointer;
  }
}

@media (max-width: 950px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    height: 900px;
    img {
      width: 80%;
      position: relative;
    }
  }

  .Swiched {
    flex-direction: column-reverse;
  }

  .description {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    width: auto !important;
  }

  .projectsButtons {
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .project {
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }
  }
  .languages {
    font-size: 20px !important;
  }
}

@media (max-width: 850px) {
  .project {
    height: 800px;
  }
}

@media (max-width: 750px) {
  .project {
    height: 750px;
  }
}

@media (max-width: 650px) {
  .project {
    height: 680px;
  }
}

@media (max-width: 600px) {
  .text {
    p {
      right: 25px;
      left: 25px;
      margin: 0;
    }
  }
}

@media (max-width: 550px) {
  .projectlist {
    margin-top: 30px;
  }
  h2 {
    font-size: 45px;
  }

  .text {
    p {
      right: 25px;
      left: 25px;
      margin: 0;
      height: 40px;
    }
  }
}

@media (max-width: 450px) {
  .project {
    height: 600px;
  }
}
