<div class="allContentContainer">
  <div id="portfolio" class="content">
    <div class="titleContainer">
      <div class="title">
        <div class="leftSpacer"></div>
        <div class="text">
          <h2>Portfolio</h2>
        </div>
        <div class="rightSpacer"></div>
      </div>

      <div class="titleDescription">
        @if(this.language === 'german'){
        <p>
          Entdecken Sie hier eine Auswahl meiner Arbeiten. Interagieren Sie mit
          Projekten, um meine Fähigkeiten in Aktion zu sehen.
        </p>
        } @if(this.language === 'english'){
        <p>
          Explore a selection of my work here - Interact with projects to see my
          skills in action.
        </p>
        }
      </div>
    </div>

    <div class="projectlist">
      <div
        id="animation-1"
        class="project"
        data-aos-anchor-placement="top-center"
        data-aos="zoom-in"
      >
        <img src="./assets/img/join.png" />

        <div class="description">
          <h2>Join</h2>
          <p class="languages">Angular | Typescript | HTML | CSS | Firebase</p>
          <p>
            @if(this.language === 'english'){ Task manager inspired by the
            Kanban System. Create and organize tasks using drag and drop
            functions, assign users and categories. } @if(this.language ===
            'german'){ Vom Kanban-System inspirierter Aufgabenmanager. Erstellen
            und organisieren Sie Aufgaben Ordnen Sie mithilfe von
            Drag-and-Drop-Funktionen Benutzer und Kategorien zu. }
          </p>
          <div class="projectsButtons">
            <a
              target="”_blank”"
              class="testButton"
              href="https://join.joostheidrich.de/"
            >
              Live test
            </a>
            <a
              target="”_blank”"
              class="gitButton"
              href="https://github.com/JoostHeidrich/Join"
              >Github</a
            >
          </div>
        </div>
      </div>

      <div
        id="animation-2"
        class="project Swiched"
        data-aos-anchor-placement="top-center"
        data-aos="zoom-in"
      >
        <div class="description">
          <h2>El Pollo Loco</h2>
          <p class="languages">JavaScript | HTML | CSS</p>
          <p>
            @if(this.language === 'english'){ Jump, run and throw game based on
            object-oriented approach. Help Pepe to find coins and tabasco salsa
            to fight against the crazy hen.} @if(this.language ===
            'german'){Spring-, Lauf- und Wurfspiel basierend auf einem
            objektorientierten Ansatz. Hilf Pepe um Münzen und Tabasco-Salsa zu
            finden, um gegen die verrückte Henne zu kämpfen. }
          </p>
          <div class="projectsButtons">
            <a
              target="”_blank”"
              class="testButton"
              href="http://polloloco.joostheidrich.de/"
              >Live test</a
            >
            <a
              target="”_blank”"
              class="gitButton"
              href="https://github.com/JoostHeidrich/Pollo-Loco"
              >Github</a
            >
          </div>
        </div>
        <img src="./assets/img/pollo-loco.png" />
      </div>

      <div
        id="animation-3"
        class="project"
        data-aos-anchor-placement="top-center"
        data-aos="zoom-in"
      >
        <img src="./assets/img/pokedex.png" />

        <div class="description">
          <h2>Pokedex</h2>
          <p class="languages">JavaScript | HTML | CSS | Api</p>
          <p>
            @if(this.language === 'english'){ Based on the PokéAPI a simple
            library that provides and catalogues pokemon information.}
            @if(this.language === 'german'){ Basierend auf der PokéAPI eine
            einfache Bibliothek, die bereitstellt und katalogisiert
            Pokemon-Informationen.}
          </p>
          <div class="projectsButtons">
            <a
              target="”_blank”"
              class="testButton"
              href="https://pokedex.joostheidrich.de/"
              >Live test</a
            >
            <a
              target="”_blank”"
              class="gitButton"
              href="https://github.com/JoostHeidrich/pokedex"
              >Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
