.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  padding-top: 150px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.address {
  margin-top: 20px;
}

.address p {
  margin: 0;
}

.address p:first-child {
  font-weight: bold;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 0;
}

.contact-info p:first-child {
  font-weight: bold;
}
