<a href="">back</a>

<div class="container">
  <h1>PRIVACY POLICY</h1>
  <p>
    Last updated March 15, 2024 This privacy notice for Joost Heidrich ('we',
    'us', or 'our'), describes how and why we might collect, store, use, and/or
    share ('process') your information when you use our services ('Services'),
    such as when you: Visit our website at
    <a href="https://joostheidrich.de/">https://joostheidrich.de/</a>, or any
    website of ours that links to this privacy notice Engage with us in other
    related ways, including any sales, marketing, or events Questions or
    concerns? Reading this privacy notice will help you understand your privacy
    rights and choices. If you do not agree with our policies and practices,
    please do not use our Services. If you still have any questions or concerns,
    please contact us at
    <a href="mailto:joost.heidrich@web.de">joost.heidrich&#64;web.de</a>.
  </p>
  <div id="section1" class="section">
    <h2>WHAT INFORMATION DO WE COLLECT?</h2>
    <p>
      Personal information you disclose to us In Short: We collect personal
      information that you provide to us.
    </p>
    <p>
      We collect personal information that you voluntarily provide to us when
      you express an interest in obtaining information about us or our products
      and Services, when you participate in activities on the Services, or
      otherwise when you contact us.
    </p>
    <p>
      Personal Information Provided by You. The personal information that we
      collect depends on the context of your interactions with us and the
      Services, the choices you make, and the products and features you use. The
      personal information we collect may include the following:
    </p>
    <ul>
      <li>names</li>
      <li>email addresses</li>
      <li>message</li>
    </ul>
    <p>
      Sensitive Information. We do not process sensitive information. All
      personal information that you provide to us must be true, complete, and
      accurate, and you must notify us of any changes to such personal
      information.
    </p>
  </div>
  <!-- Weitere Abschnitte hier einfügen -->
  <div id="section2" class="section">
    <h2>HOW DO WE PROCESS YOUR INFORMATION?</h2>
    <p>
      In Short: We process your information to provide, improve, and administer
      our Services, communicate with you, for security and fraud prevention, and
      to comply with law.
    </p>
    <p>
      We may also process your information for other purposes with your consent.
    </p>
    <p>
      We process your personal information for a variety of reasons, depending
      on how you interact with our Services, including:
    </p>
    <ul>
      <li>To respond to user inquiries/offer support to users.</li>
      <li>To send administrative information to you.</li>
    </ul>
  </div>
  <!-- Weitere Abschnitte hier einfügen -->
  <div id="section3" class="section">
    <h2>WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h2>
    <p>
      In Short: We may share information in specific situations described in
      this section and/or with the following third parties.
    </p>
    <p>
      We may need to share your personal information in the following
      situations:
    </p>
    <ul>
      <li>
        Business Transfers. We may share or transfer your information in
        connection with, or during negotiations of, any merger, sale of company
        assets, financing, or acquisition of all or a portion of our business to
        another company.
      </li>
    </ul>
  </div>
  <!-- Weitere Abschnitte hier einfügen -->
  <div id="section10" class="section">
    <h2>HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
    <p>
      If you have questions or comments about this notice, you may email us at
      <a href="mailto:joost.heidrich@web.de">joost.heidrich&#64;web.de</a> or
      contact us by post at:
    </p>
    <p>
      Joost Heidrich<br />
      Waldreiterring 10<br />
      Hamburg 22359<br />
      Germany
    </p>
  </div>
  <!-- Weitere Abschnitte hier einfügen -->
</div>
