div {
  color: white;
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
}

.backgroundIMG {
  z-index: 4;
  position: absolute;
  width: 100%;
  margin-left: 0;
  background-color: rgba($color: #000000, $alpha: 0);
}

.mainContent {
  height: 550px;
}

.allContentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0);
  h2 {
    background-color: rgba($color: #000000, $alpha: 0);
    font-size: 90px;
    margin: 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 50px;
    margin: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    align-items: center;
    justify-content: start;
    left: -35px;
    text-align: end;
    p {
      color: #4b47ff;
      margin: 0;
      font-size: 65px;
    }
  }
}

.character {
  position: relative;
  margin-left: 100px;
  height: 650px;
  z-index: 3;
}

.rotatet {
  display: flex;
  align-items: end;

  margin: 0 0 0 0 !important;
  font-size: 78px;
  rotate: 270deg;
  white-space: nowrap;
}

.shadow {
  position: absolute;
  opacity: 0.8;
  height: 800px;
  z-index: 2;
  width: 900px;
  background-color: rgba(0, 0, 0, 0);
}

a {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #00bee8;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: start;
  gap: 32px;
  background-color: rgba($color: #000000, $alpha: 0);
  z-index: 5;
  position: relative;
}

.allContent {
  max-width: 1900px;
  padding-top: 15vh;
}

h2 {
  font-size: 180px !important;
}

.title {
  p {
    font-size: 125px !important;
  }
}

.rotatet {
  font-size: 160px !important;
}

.character {
  height: 1350px;
}

.mainContent {
  height: 950px;
}

.shadow {
  height: 900px;
  width: 600px;
}
