<img class="backgroundIMG" src="./assets/img/Vector.png" />
<div class="allContent">
  <div class="header">
    <img class="character" src="./assets/img/character.png" />

    <img class="shadow" src="./assets/img/shadows/Group 2.png" />
  </div>

  <div class="mainContent">
    <div class="contentContainer">
      <div class="content">
        <p class="rotatet">I am</p>
        <div class="title">
          <h2>Joost Heidrich</h2>
          <p>FRONTEND DEVELOPER</p>
        </div>
      </div>
      @if(language == 'german'){
      <a href="#contact">Let´s talk!</a>
      }
    </div>
  </div>
</div>
