// @media (max-width: 4070px) {
//   h2 {
//     font-size: 180px !important;
//   }

//   .title {
//     p {
//       font-size: 125px !important;
//     }
//   }

//   .rotatet {
//     font-size: 160px !important;
//   }

//   .content {
//     margin-right: 400px;
//   }

//   .character {
//     margin-top: 200px;
//     height: 1350px;
//   }

//   .mainContent {
//     height: 950px;
//   }

//   .shadow {
//     height: 1300px;
//     width: 1200px;
//     margin-top: 400px;
//   }
//   a {
//     width: 400px;
//     height: 158px;
//     padding: 15px, 30px, 15px, 30px;
//     border-radius: 10px;
//     margin-top: 20px;
//     font-size: 60px;
//   }
// }

// @media (max-width: 3600px) {
//   h2 {
//     font-size: 160px !important;
//   }

//   .title {
//     p {
//       font-size: 110px !important;
//     }
//   }

//   .rotatet {
//     font-size: 140px !important;
//   }

//   .content {
//     margin-right: 400px;
//   }

//   .character {
//     margin-top: 200px;
//     height: 1200px;
//   }

//   .mainContent {
//     height: 900px;
//   }

//   .shadow {
//     height: 1300px;
//     width: 1200px;
//     margin-top: 400px;
//   }
// }

// @media (max-width: 3000px) {
//   h2 {
//     font-size: 130px !important;
//   }

//   .title {
//     p {
//       font-size: 90px !important;
//     }
//   }

//   .rotatet {
//     font-size: 120px !important;
//   }

//   .content {
//     margin-right: 400px;
//   }

//   .character {
//     margin-top: 200px;
//     height: 1000px;
//   }

//   .mainContent {
//     height: 800px;
//   }

//   .shadow {
//     height: 1000px;
//     width: 900px;
//     margin-top: 400px;
//   }
//   a {
//     width: 380px;
//     height: 120px;
//     border-radius: 10px;
//     margin-top: 20px;
//     font-size: 50px;
//   }
// }

// @media (max-width: 2600px) {
//   h2 {
//     font-size: 110px !important;
//   }

//   .title {
//     p {
//       font-size: 75px !important;
//     }
//   }

//   .rotatet {
//     font-size: 100px !important;
//   }

//   .content {
//     margin-right: 300px;
//   }

//   .character {
//     margin-top: 100px;
//     height: 1000px;
//   }

//   .mainContent {
//     height: 750px;
//   }

//   .shadow {
//     height: 1000px;
//     width: 900px;
//     margin-top: 300px;
//   }
// }

// @media (max-width: 2200px) {
//   h2 {
//     font-size: 90px !important;
//   }

//   .title {
//     p {
//       font-size: 65px !important;
//     }
//   }

//   .rotatet {
//     font-size: 80px !important;
//   }

//   .content {
//     margin-right: 200px;
//   }

//   .character {
//     margin-top: 100px;
//     height: 900px;
//   }

//   .mainContent {
//     height: 650px;
//   }
//   .shadow {
//     height: 1000px;
//     width: 900px;
//     margin-top: 300px;
//   }
// }

h2 {
  font-size: 78px !important;
}

.title {
  p {
    font-size: 55px !important;
  }
}

.rotatet {
  font-size: 75px !important;
}

.character {
  height: 900px;
}

.mainContent {
  height: 550px;
}

a {
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 40px;
}

@media (max-width: 3700px) {
  .backgroundIMG {
    margin-top: 100px;
  }
}

@media (max-width: 3300px) {
  .backgroundIMG {
    margin-top: 200px;
  }
}

@media (max-width: 2800px) {
  .backgroundIMG {
    margin-top: 300px;
  }
}

@media (max-width: 2500px) {
  .backgroundIMG {
    margin-top: 400px;
  }
}

@media (max-width: 2200px) {
  .backgroundIMG {
    margin-top: 500px;
  }
}

@media (max-width: 1920px) {
}

@media (max-width: 1655px) {
  .backgroundIMG {
    margin-top: 200px;
  }

  h2 {
    font-size: 75px !important;
  }

  .title {
    p {
      font-size: 55px !important;
    }
  }

  .rotatet {
    font-size: 65px !important;
  }

  .character {
    height: 650px;
  }

  .mainContent {
    height: 550px;
  }
  .shadow {
    height: 650px;
    width: 450px;
  }
}

@media (max-width: 1400px) {
  h2 {
    font-size: 60px !important;
  }

  a {
    font-size: 40px;
  }

  .title {
    p {
      font-size: 40px !important;
    }
  }

  .rotatet {
    font-size: 55px !important;
  }

  .character {
    height: 550px;
  }

  .shadow {
    height: 550px;
    width: 360px;
  }

  .mainContent {
    height: 550px;
  }
}

@media (max-width: 1250px) {
  .content {
    h2 {
      font-size: 50px !important;
    }
    .title {
      p {
        font-size: 32px !important;
      }
    }
  }

  a {
    font-size: 32px;
  }

  .rotatet {
    font-size: 50px !important;
  }
  .character {
    height: 450px;
  }
  .shadow{
    height: 450px;
    width: 300px;
  }
  .mainContent {
    height: 500px;
  }
}
@media (max-width: 1080px) {
  .header {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 800px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .allContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
  }

  .character {
    margin-left: 0;
    height: 550px;
    top: -100px;
  }

  .shadow {
    width: 80%;
    height: 600px;
  }

  .mainContent {
    margin-top: 500px;
    margin-right: 0;
    height: 250px;
    margin-bottom: 50px;
  }

  .content {
    margin-top: 0;
    margin-right: 0;
  }

  .contentContainer {
    height: 250px;
  }

  .backgroundIMG {
    margin-top: 300px;
  }
}

@media (max-width: 750px) {
  .backgroundIMG {
    margin-top: 350px;
  }
}

@media (max-width: 650px) {
  .shadow {
    width: 80%;
    margin-top: 0px;
  }
  .backgroundIMG {
    margin-top: 400px;
  }
}

@media (max-width: 500px) {
  .content {
    h2 {
      font-size: 40px !important;
    }

    a {
      font-size: 22px;
    }

    .title {
      left: -20px;
      p {
        font-size: 22px !important;
      }
    }
  }
  .rotatet {
    font-size: 35px !important;
  }

  .character {
    height: 350px;
  }
  .shadow {
    height: 350px;
  }

  .backgroundIMG {
    margin-top: 30vh;
  }
  .header {
    height: 350px;
    margin-top: 15vh;
  }

  .mainContent {
    margin-top: 400px;
  }
}

@media (max-width: 400px) {
  .content {
    h2 {
      font-size: 30px !important;
    }

    .title {
      p {
        font-size: 20px !important;
      }
    }
  }
  .rotatet {
    font-size: 30px !important;
  }
  .shadow {
    width: 80%;
    margin-top: 0px;
    height: 500px;
  }
}
