div {
  color: white;
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
}

.backgroundIMG {
  margin-top: 300px;
  z-index: 2;
  position: absolute;
  width: 100%;
  margin-left: 0;
  background-color: #141d2f;
}

.mainContent {
  height: 550px;
}

.content {
  display: flex;
  align-items: center;
  margin-top: 220px;
  background-color: rgba($color: #000000, $alpha: 0);
  margin-right: 100px;
  h2 {
    background-color: rgba($color: #000000, $alpha: 0);
    font-size: 90px;
    margin: 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 50px;
    margin: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    align-items: center;
    justify-content: start;
    left: -35px;
    text-align: end;
    p {
      color: #4b47ff;
      margin: 0;
      font-size: 65px;
    }
  }
}

.character {
  position: relative;
  margin-left: 100px;
  height: 650px;
  z-index: 3;
  margin-top: 150px;
}

.rotatet {
  display: flex;
  align-items: end;

  margin: 0 0 0 0 !important;
  font-size: 78px;
  rotate: 270deg;
  white-space: nowrap;
}

.shadow {
  position: absolute;
  opacity: 0.8;
  height: 800px;
  z-index: 2;
  width: 900px;
  background-color: rgba(0, 0, 0, 0);
}

button {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #00bee8;
  color: white;
  width: 165px;
  height: 58px;
  padding: 15px, 30px, 15px, 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  background-color: rgba($color: #000000, $alpha: 0);
  z-index: 2;
  gap: 0;
}

@media (max-width: 1650px) {
  h2 {
    font-size: 75px !important;
  }

  .title {
    p {
      font-size: 55px !important;
    }
  }

  .rotatet {
    font-size: 65px !important;
  }

  .character {
    margin-top: 200px;
    height: 550px;
  }

  .mainContent {
    height: 550px;
  }
}

@media (max-width: 1400px) {
  h2 {
    font-size: 60px !important;
  }

  .title {
    p {
      font-size: 40px !important;
    }
  }

  .rotatet {
    font-size: 55px !important;
  }

  .character {
    margin-top: 200px;
    height: 550px;
  }

  .mainContent {
    height: 550px;
  }
}

@media (max-width: 1250px) {
  .content {
    h2 {
      font-size: 50px !important;
    }

    .title {
      p {
        font-size: 32px !important;
      }
    }
  }
  .rotatet {
    font-size: 50px !important;
  }
  .character {
    margin-top: 200px;
    height: 450px;
  }
  .mainContent {
    height: 500px;
  }
}
@media (max-width: 1080px) {
  .header {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 800px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backgroundIMG {
    background-color: rgba(0, 0, 0, 0);
  }

  .allContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .character {
    margin-top: -100px;
    margin-left: 0;
  }

  .shadow {
    width: 100%;
  }

  .mainContent {
    margin-top: 600px;
    margin-right: 0;
    height: 250px;
  }

  .content {
    margin-top: 0;
    margin-right: 0;
  }

  .contentContainer {
    height: 250px;
  }
}
@media (max-width: 650px) {
  .backgroundIMG {
    margin-top: 350px;
  }
}

@media (max-width: 500px) {
  .content {
    h2 {
      font-size: 40px !important;
    }

    .title {
      left: -20px;
      p {
        font-size: 22px !important;
      }
    }
  }
  .rotatet {
    font-size: 35px !important;
  }

  .character {
    height: 350px;
  }
}

@media (max-width: 400px) {
  .backgroundIMG {
    margin-top: 400px;
  }
  .content {
    h2 {
      font-size: 30px !important;
    }

    .title {
      p {
        font-size: 20px !important;
      }
    }
  }
  .rotatet {
    font-size: 30px !important;
  }
}
